@font-face {
    font-family: 'line-icons';
    src: url('../fonts/lineicons/zombatsregular-webfont.eot');
    src: url('../fonts/lineicons/zombatsregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lineicons/zombatsregular-webfont.woff') format('woff'),
         url('../fonts/lineicons/zombatsregular-webfont.ttf') format('truetype'),
         url('../fonts/lineicons/zombatsregular-webfont.svg#zombatsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
